<h1 id="tableLabel">Stocked products</h1>

<p>List of stocked products</p>

<p *ngIf="!products?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products.length">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Units</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.units }}</td>
    </tr>
  </tbody>
</table>
