#listOptions {
  margin-right: 8px;
}

#ingredients .item-input-control {
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

#ingredients .done-todo {
  text-decoration: line-through;
}

#ingredients .ingredient-name {
  padding-top: 8px;
}

#ingredients .list-group-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

#ingredients .list-group-item .btn-xs {
  padding: 0;
}

#ingredients .item-checkbox {
  padding-top: 8px;
}

#ingredients .item-commands {
  padding-top: 4px;
}

.modal-footer {
  display: block;
}

textarea {
  width: 100%;
  height: 250px;
  font-size: x-small;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 1em;
}
